include versioneer.py
include scriptrunner/_version.py
include README.rst
include LICENSE
include *requirements.txt
include scriptrunner/_version.py
recursive-include scriptrunner/tests/mypkg66 *
recursive-include scriptrunner/tests/mypkg66/scripts *
recursive-include scriptrunner/tests/mypkg66/mypkg66 *
